<h3>Profile Status: Approved by Membership</h3>
<p>
    Dear {{ name }}!
</p><p>Your profile has been successfully reviewed and approved by our Committee department. The profile has been forwarded to the Board of Directors for final vetting.</p>
<p> We will inform you when the vetting process is complete.
</p>
<p>
    Thank you!
</p><p>

    --MCSK Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>