<h3>Music Sample Verification  Status</h3>
<p>
    Dear {{ name }}!
</p><p>Your music sample  {{ code }} verrification failed . The sample already exists in the records.Please contact mcsk team for further details.</p>

<p> 
    Thank you!
</p><p>

    --MCSK Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>