<h3>Music Sample Approval Status</h3>
<p>
    Dear {{ name }}!
</p><p>Your music sample  {{ code }} has been verrified successfully . Please complete the remaining steps of the registration process.</p>

<p> 
    Thank you!
</p><p>

    --MCSK Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>